<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jee     http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
    * ******************************************************************************************************************
    * Configuration Imports
    * ******************************************************************************************************************
    -->
    <import resource="classpath:spring/jpaContext.xml" />
    <!--<import resource="classpath:spring/securityContext.xml" />-->


    <!--
    * ******************************************************************************************************************
    * Package Scanning
    * ******************************************************************************************************************
    -->
    <context:annotation-config />
    <context:component-scan base-package="me.mike.aims.service" />


    <!--
    * ******************************************************************************************************************
    * Asynchronous Processing
    * ******************************************************************************************************************
    -->
    <!--<task:annotation-driven executor="executor" />-->
    <!--<task:executor id="executor" pool-size="10" />-->
    <!--<task:scheduler id="jobScheduler" pool-size="10" />-->


    <!--
    * ******************************************************************************************************************
    * Application JNDI Datasource
    * ******************************************************************************************************************
    -->
    <jee:jndi-lookup id="dataSource"
                     jndi-name="jdbc/AIMS" />


    <!--
    * ******************************************************************************************************************
    * SMTP Configuration
    * ******************************************************************************************************************
    -->
<!--
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username" value="${smtp.username}" />
        <property name="password" value="${smtp.password}" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.mime.charset">ISO-8859-15</prop>
                <prop key="mail.smtp.from">${smtp.from}</prop>
                <prop key="mail.smtp.host">${smtp.host}</prop>
                <prop key="mail.smtp.port">${smtp.port}</prop>
                <prop key="mail.smtp.auth">${smtp.authenticated}</prop>
                <prop key="mail.smtp.user">${smtp.username}</prop>
                <prop key="mail.smtp.pass">${smtp.password}</prop>
                <prop key="mail.smtp.starttls.enable">${smtp.tls}</prop>
            </props>
        </property>
    </bean>
-->


    <!--
    * ******************************************************************************************************************
    * FreeMarker Email Configuration
    * ******************************************************************************************************************
    -->
<!--
    <bean id="freemarkerEmailConfig"
          class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean"
          p:templateLoaderPath="/WEB-INF/email" />
-->


    <!--
    * ******************************************************************************************************************
    * Property Configuration
    * ******************************************************************************************************************
    -->
    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="searchSystemEnvironment" value="true" />
        <property name="systemPropertiesMode" value="2" />

<!--
        <property name="locations">
            <list>
                <value>classpath:META-INF/version.properties</value>
                <value>classpath:META-INF/application.properties</value>
                <value>file:${SYS_ENV_VAR}/aims.properties</value>
            </list>
        </property>
-->
    </bean>
</beans>
